# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Environment files
.env
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system file
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Model artifacts
*.h5
*.pkl
*.joblib

# Conda
*.conda
*.yaml